 <%-include('../cabecalho.ejs')%>
     <header>
        <h3>Adicionar Novo Artista</h3>
      </header>
      <div class="content"> 
        Celular cadastrado com sucesso.
      </div>
  <p>Nome: <%=nome%></p>
  <p>Nacionalidade: <%=nacionalidade%></p>
  <p>Data De Nascimento: <%=dataDeNascimento%></p>
  <p> Salário(R$): <%=salario%></p>
      <%-include('../rodape.ejs')%>