 <%-include('../cabecalho.ejs')%>
     <header>
        <h3>Adicionar Nova Gravadora</h3>
      </header>
      <div class="content"> 
        Gravadora cadastrado com sucesso.
      </div>
      <p>Nome da Gravadora: <%=nome%></p>
      <p>sede: <%=sede%></p>
      <p>website: <%=website%></p>

      <%-include('../rodape.ejs')%>