<%-include('../cabecalho.ejs')%>
  <header>
    <h3>Adicionar Novo Álbum</h3>
  </header>
  <div class="content">
    Álbum cadastrado com sucesso.
  </div>
  <p>Titulo do Álbum: <%=titulo%>
  </p>
  <p>Compositor: <%=compositor%>
  </p>
  <p>Gênero: <%=genero%>
  </p>
  <p>Data de lançamento: <%=dataDeLancamento%>
  </p>


  <%-include('../rodape.ejs')%>